<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxzyyn.dao.UserDao">

    <sql id="select*">
        select `id`, `username`, `password`
        from `t_user`
    </sql>

    <select id="login" resultType="User">

        <include refid="select*"/>
        where `username` = #{username}
        and `password` = #{password}

    </select>

    <insert id="regist">
        insert into `t_user`(`username`, `password`)
        values (#{username}, #{password})
    </insert>

    <select id="findAll" resultType="User">
        <include refid="select*"/>
    </select>


</mapper>